 body {
      margin: 0;
      font-family: 'Poppins', sans-serif;
      display: flex;
      flex-direction: column;
      background: linear-gradient(135deg, #2c2c2c, #3e2723, #1b1b1b);
      align-items: center;
      padding-bottom: 4.5rem;
      justify-content: flex-start;
      min-height: 100vh;
    }

    /* Navbar*/
    .navbar{
      width: 100%;
      background: rgba(255, 255, 255, 0.08);
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 30px;
      box-shadow: 0 4px 15px rgba(212, 175, 55, 0.5);
      border-bottom: 1.5px solid #d4af37;
      box-sizing: border-box;
    }

    .logo{
      color: #d4af37;
      font-weight: 700;
      font-size: 1.5rem;
      text-shadow: 0 0 8px rgba(212, 175, 55, 0.15);
    }

    .nav-links{
      list-style: none;
      display: flex;
      gap: 20px;
    }

    .nav-links li a {
      text-decoration: none;
      color: #f0e4d7;
      font-weight: 500;
      padding: 5px 10px;
      border-radius: 8px;
      transition: 0.3s;
    }

    .nav-links li a:hover{
      background: rgba(212, 175, 55, 0.2);
      color: #ffd700;
    }

    .nav-links li a.active{
       background: rgba(212, 175, 55, 0.3);
       box-shadow: 0 0 10px rgba(212, 175, 55, 0.5);
      color: #ffd700;
    }


    /* Table Container*/
    .table-container {
      width: 90%;
      max-width: 500px;
      background: rgba(255, 255, 255, 0.08);
      border-radius: 20px;
      backdrop-filter: blur(15px);
      -webkit-backdrop-filter: blur(15px);
      box-shadow: 0 8px 25px rgba(0, 0, 0, 0.6);
      border: 1.4px solid #d4af37;
      margin-top: 30px;
      overflow: hidden;
    }

    h2 {
      text-align: center;
      margin: 20px 0;
      color: #d4af37;
      font-size: 1.8rem;
      letter-spacing: 2px;
      font-weight: 700;
      text-shadow: 0 0 10px rgba(212, 175, 55, 0.5)
      ;
    }

    table {
      width: 100%;
      border-collapse: collapse;
      color: #f0e4d7;
    }

    th,
    td {
      padding: 15px;
      text-align: center;
      border-bottom: 1px solid rgba(255, 255, 0, 0.2);
    }

    th {
      font-size: 1.2rem;
      background: rgba(212, 175, 55, 0.15);
      font-weight: 600;
      color: #ffd700;
    }

    tr:hover {
      background: rgba(255, 255, 255, 0.1);
      transition: 0.3s ease;
    }

    /* Responsive */
    @media (max-width: 500px) {

      .nav-links{
        flex-direction: column;
        gap: 10px;
        width: 100%;
        align-items: center;
      }
      .navbar{
        flex-direction: column;
        align-items: center;
        padding: 15px 10px;
      }
      th,
      td {
        padding: 10px;
        font-size: 0.85rem;
      }

      h2 {
        font-size: 1.4rem;
      }
    }